In [1]:
import os
os.listdir()

['earthquakes-prec.csv',
 'Untitled1.ipynb',
 '.DS_Store',
 'earthquakes-2021-01-19_21-44-08_-0500.tsv',
 'Untitled.ipynb',
 'dash-earthquake-analysis',
 'earthquakes.ipynb',
 '.ipynb_checkpoints',
 'data']

In [2]:
import pandas as pd

In [3]:
countries = pd.read_csv('earthquakes-prec.csv')

In [4]:
countries.head()

,Unnamed: 0,Year,Mo,Dy,Hr,Mn,Sec,Tsu,Vol,Location Name,...,Total Damage Description,Total Houses Destroyed,Total Houses Destroyed Description,Total Houses Damaged,Total Houses Damaged Description,Decade,Century,Country,lblctry,ISO_APLHA
0,2476,1900.0,1.0,10.0,NaN,NaN,NaN,5459.0,NaN,INDONESIA: GALELA (HALMAHERA ISLAND),...,NaN,NaN,NaN,NaN,NaN,190,20,INDONESIA,ID,IDN
1,2477,1900.0,1.0,11.0,9.0,7.0,0.0,NaN,NaN,JAPAN: SEA OF JAPAN,...,NaN,NaN,NaN,NaN,NaN,190,20,JAPAN,JP,JPN
2,2478,1900.0,1.0,14.0,NaN,NaN,NaN,NaN,NaN,INDONESIA: JAVA: SUKABUMI,...,2.0,NaN,NaN,NaN,3.0,190,20,INDONESIA,ID,IDN
3,2479,1900.0,1.0,20.0,6.0,33.0,30.0,NaN,NaN,MEXICO,...,1.0,NaN,NaN,NaN,NaN,190,20,MEXICO,MX,MEX
4,2480,1900.0,5.0,16.0,20.0,12.0,0.0,NaN,NaN,MEXICO: NEAR COAST OF JALISCO,...,NaN,NaN,NaN,NaN,NaN,190,20,MEXICO,MX,MEX

In [5]:
countries.columns

Index(['Unnamed: 0', 'Year', 'Mo', 'Dy', 'Hr', 'Mn', 'Sec', 'Tsu', 'Vol',
       'Location Name', 'Latitude', 'Longitude', 'Focal Depth (km)', 'Mag',
       'MMI Int', 'Deaths', 'Death Description', 'Missing',
       'Missing Description', 'Injuries', 'Injuries Description',
       'Damage ($Mil)', 'Damage Description', 'Houses Destroyed',
       'Houses Destroyed Description', 'Houses Damaged',
       'Houses Damaged Description', 'Total Deaths', 'Total Death Description',
       'Total Missing', 'Total Missing Description', 'Total Injuries',
       'Total Injuries Description', 'Total Damage ($Mil)',
       'Total Damage Description', 'Total Houses Destroyed',
       'Total Houses Destroyed Description', 'Total Houses Damaged',
       'Total Houses Damaged Description', 'Decade', 'Century', 'Country',
       'lblctry', 'ISO_APLHA'],
      dtype='object')

In [8]:
countries['ISO_APLHA'].shape

(3735,)